.font0 {
  font:
    17pt Arial,
    sans-serif;
}
.font1 {
  font:
    20pt Arial,
    sans-serif;
}
.font2 {
  font:
    21pt Arial,
    sans-serif;
}
.font3 {
  font:
    15pt Georgia,
    serif;
}
.font4 {
  font:
    14pt Times New Roman,
    serif;
}
.font5 {
  font:
    15pt Times New Roman,
    serif;
}
.font6 {
  font:
    16pt Times New Roman,
    serif;
}
.font7 {
  font:
    18pt Times New Roman,
    serif;
}
.font8 {
  font:
    20pt Times New Roman,
    serif;
}
.font9 {
  font:
    35pt Times New Roman,
    serif;
}
.font10 {
  font:
    55pt Times New Roman,
    serif;
}
